body {
    background-image: url("/assets/images/yellow.jpg");
    backface-visibility: .3;
}
h3{
  color:rgb(173, 150, 181);
  text-shadow: 2px 2px black;
}

table#game_board{
    margin:auto;
    border-style: solid;
    border-width: 10px;
    border-color:  rgb(211, 200, 219);
    border-collapse: seperate;
}

table#game_board td{
    padding:1px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
}

#messages p{
    margin: 0px; 
}

td.hovered_over:hover {
    background:url('../images/hover.gif');
    background-size: 100% 100%;
}